.appFilter {
    &__select {
        outline: none;
        padding: 5px;
        width: 200px;
        border-radius: 4px;
        border: none;
    }
    &__label {
        font-weight: bold;
        font-size: 18px;
    }
}